name: Build

on:
  push:
    branches:
      - main
  release:
    types:
      - created
  workflow_dispatch:
    inputs:
      voicevox_engine_version:
        description: 'VOICEVOX Engine 的版本 (例如: 0.25.0)'
        required: false
        default: 'latest'
      voicevox_resource_version:
        description: 'VOICEVOX 原版版本 (例如: 0.25.0)'
        required: false
        default: '0.25.0'
      voicevox_editor_version:
        description: 'VOICEVOX 中翻版本 (例如: 0.25.0)'
        required: false
        default: ''
      prerelease:
        description: '是否为预发布版本'
        required: false
        type: boolean
        default: true # 默认设置为预发布

permissions:
  contents: write # 授予写入仓库内容的权限，包括创建/修改 Release

env:
  VOICEVOX_ENGINE_VERSION: ${{ github.event.inputs.voicevox_engine_version || 'latest' }}
  VOICEVOX_RESOURCE_VERSION: ${{ github.event.inputs.voicevox_resource_version || '' }}
  VOICEVOX_EDITOR_VERSION: ${{ github.event.release.tag_name || github.event.inputs.voicevox_editor_version }}
  ELECTRON_CACHE: .cache/electron
  ELECTRON_BUILDER_CACHE: .cache/electron-builder
  cache-version: v2
  sed: sed
  PNPM_HOME: C:\Users\runneradmin\setup-pnpm\node_modules\.bin
  TEMPDIR: D:/a/_temp/download-engine
  DEST: D:/a/VOICEVOX/VOICEVOX/voicevox_engine
  ENGINE_VERSION: 0.25.0 #?

defaults:
  run:
    shell: bash

jobs:
  build-and-upload:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        artifact_name:
          - windows-cpu
          - windows-directml
          - windows-nvidia
          - linux-cpu-x64
          - linux-cpu-arm64
          - linux-nvidia
          - macos-cpu-x64
          - macos-cpu-arm64
        include:
          - os: windows-latest
            artifact_name: windows-cpu
            compressed_artifact_name: voicevox-windows-cpu
          - os: windows-latest
            artifact_name: windows-directml
            compressed_artifact_name: voicevox-windows-directml
          - os: windows-latest
            artifact_name: windows-nvidia
            compressed_artifact_name: voicevox-windows-nvidia
          - os: ubuntu-latest
            artifact_name: linux-cpu-x64
            compressed_artifact_name: voicevox-linux-cpu-x64
          - os: ubuntu-latest
            artifact_name: linux-cpu-arm64
            compressed_artifact_name: voicevox-linux-cpu-arm64
          - os: ubuntu-latest
            artifact_name: linux-nvidia
            compressed_artifact_name: voicevox-linux-nvidia
          - os: macos-latest
            artifact_name: macos-cpu-x64
            compressed_artifact_name: voicevox-macos-cpu-x64
          - os: macos-latest
            artifact_name: macos-cpu-arm64
            compressed_artifact_name: voicevox-macos-cpu-arm64

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.11.1

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10.22.0
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "PNPM_STORE_PATH=$(pnpm store path)" >> $GITHUB_ENV

      - name: Cache pnpm dependencies
        uses: actions/cache@v4
        with:
          path: ${{ env.PNPM_STORE_PATH }}
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: Install dependencies
        run: pnpm install

      - name: Download VOICEVOX Engine
        run: |
          mkdir -p "${{ env.TEMPDIR }}"
          curl -L "https://github.com/VOICEVOX/voicevox_engine/releases/download/${{ env.VOICEVOX_ENGINE_VERSION }}/voicevox_engine-${{ matrix.artifact_name }}.zip" -o "${{ env.TEMPDIR }}/voicevox_engine.zip"
          unzip "${{ env.TEMPDIR }}/voicevox_engine.zip" -d "${{ env.DEST }}"
        shell: bash

      - name: Download VOICEVOX Resource
        run: |
          mkdir -p "${{ env.TEMPDIR }}/resource"
          curl -L "https://github.com/VOICEVOX/voicevox_resource/releases/download/${{ env.VOICEVOX_RESOURCE_VERSION }}/voicevox_resource.zip" -o "${{ env.TEMPDIR }}/resource/voicevox_resource.zip"
          unzip "${{ env.TEMPDIR }}/resource/voicevox_resource.zip" -d "${{ env.DEST }}/resource"
        shell: bash

      - name: Build with electron-builder
        run: pnpm electron-builder --publish never --config .electron-builder.config.cjs
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Artifact to Release
        if: (github.event.release.tag_name || github.event.inputs.voicevox_editor_version) != ''
        uses: softprops/action-gh-release@v2
        with:
          prerelease: ${{ github.event.inputs.prerelease }}
          tag_name: ${{ env.VOICEVOX_EDITOR_VERSION }}
          files: |-
            voicevox-${{ matrix.artifact_name }}-${{ env.VOICEVOX_EDITOR_VERSION }}.zip
          target_commitish: ${{ github.sha }}
          overwrite_files: true # 允许覆盖现有文件，这对于矩阵构建很重要
          body_path: release_body_final.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
